<?php
  $variables = [
      'APP_NAME' => 'Mercado',
      'DB_CONNECTION' => 'pgsql',
      'DB_HOST' => 'localhost',
      'DB_USERNAME' => 'root',
      'DB_PASSWORD' => '',
      'DB_NAME' => 'mercadosoftexp',
  ];

  foreach ($variables as $key => $value) {
      putenv("$key=$value");
  }
?>